<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <link rel="stylesheet" href="/style.css" />
    <style type="text/css">
      body{
        background-image: url("https://cdn4.vectorstock.com/i/1000x1000/00/08/question-mark-sign-background-with-color-wave-vector-29630008.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      p{
        margin: 10px;
        margin-left: 30%;
        font-size: 20px;
        color:rgb(237, 222, 83) ;
      }
      
    </style>
  </head>
  <body>
    <div class="container">
      <div id="home" class="flex-center flex-column">
        <h1 id="heading">
            General Knowledge Quiz
            <p>Fun way to brush your general knowledge</p>
        </h1>
        <a class="btn" href="/questions" id="play">Play</a>
        <!-- <a class="btn" href="#">High Scores</a> -->
      </div>
    </div>
    <script src="/home.js"></script>
  </body>
</html>
